@import "utils/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: clamp(20em, 100%, 120em);
  min-height: 100vh;
  height: 100%;
  .main {
    height: 100%;
    width: 100%;
    flex: 1;
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: Folio;
  font-size: 14px;
  padding: 1em 2em;

  .leftOfNav {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    width: fit-content;
    .dropdown {
      padding: 0;
      border: none;
      height: 30px;
      width: 20px;
    }

    .links {
      display: flex;
      a {
        margin-right: 3em;
      }
      margin-right: 1em;
    }
  }

  .centerOfNav {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      padding: 10px 0;
      cursor: pointer;
    }
  }

  .rightOfNav {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: flex-end;
    .cartLink {
      cursor: pointer;
    }
  }
}

.footer {
  font-family: Folio;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;

  .leftOfFooter {
    .links {
      a {
        margin-right: 1em;
      }
    }
  }
}

.headerDropdown {
	z-index: 100;
}

@media (min-width: 0) {
  .wrapper {
    padding: 0;
  }
}

@media (min-width: $bp-md) {
}
