.drawerOverlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .drawer {
    background: white;
    height: 100%;
    width: clamp(20em, 100%, 30em);

  }
}

.header {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
}
