.drawerOverlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .drawer {
    background: white;
    padding: 1em;
    height: 100%;
    width: 20em;
		display: flex;
		flex-direction: column;
		.close {
			position: absolute;
			right: 2em;
			top: 2em;
		}
    .cart {
			display: flex;
			flex-direction: column;
      height: 100%;
			.title {
				font-weight: bold; 
			}
      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
			.cartItems {
				.itemWrapper {
					.image {
						height: 5em; 
					}
					display: flex;
					border-bottom: 1px solid #e6e6e6;
				}
			}
    }
    .bottomOfDrawer {
      .subtotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .amount {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .checkoutButton {
        width: 100%;
      }
			.continue {
				width: 100%; 
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 1em 0;
				font-weight: 300; 
			}
    }
  }
}
