.articlesWrapper {
	margin: 0 auto;
	width: clamp(45ch, 100%, 75ch);
	max-width: 30em;

	.link,
	.article {
		cursor: pointer; 
	}

	.link {
		font-weight: bold; 
	}


	.image {
		width: 100%;
		height: 30em; 
		object-fit: scale-down;
	}

}

.articleWrapper {
	width: clamp(45ch, 100%, 75ch);
	margin: 0 auto;
	.image {
		width: 100%;
		height: 30em; 
		object-fit: cover;
	}
}

.navigatorWrapper {
	font-family: Folio;
	.readme {
		font-weight: bold;
		margin-bottom: 2em;
	}
	.title {
		line-height: 1em; 
		margin: 0 0 .5em 0; 
		cursor: pointer;
	}
}
